<% title "Listing projects" %>

<table>
  <tr>
    <th class="grid_5 alpha">Name</th>
    <th class="grid_5">Description</th>
    <th class="grid_3">Deadline</th>
    <th class="grid_1"></th>
    <th class="grid_1"></th>
    <th class="grid_1 omega"></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.deadline %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
